header {
  margin: 15vh 5vh 0 5vh;
}

.game-search {
  padding-top: 2vh;
  margin: 15vh 5vh 0 5vh;
  position: -webkit-sticky;
  position: sticky;
}

.searchQuery {
  text-align: center;
}

.card {
  margin-top: 5vh;
  border-radius: 3%;
}

.card-section {
  text-align: center;
}

.system-icon-styles {
  text-align: left;
  font-size: 18px;
}

.genre-icon-styles {
  font-size: 18px;
}

body {
  background: rgb(184,184,184);
  background: radial-gradient(circle, rgba(184,184,184,1) 0%, rgba(136,136,136,1) 20%, rgba(110,110,110,1) 35%, rgba(36,36,36,1) 100%);
}

/* .game-page {
  text-align: center;
  background-color: rgb(190,190,190);
  background-image: radial-gradient(circle, rgba(190,190,190,1) 0%, rgba(110,110,110,1) 50%, rgba(94,94,94,1) 100%);
} */

.game-background {
  background-image: url(../images/Monster-Hunter-World-cover.jpg);
  background-size: cover;
  background-position: 80%;
  height: 800px;
  display: flex;
}

.game-content h1 {
  font-size: 90px;
  font-family: sans-serif;
}

iframe {
  height: 400px;
  width: 400px;
}

#back-Btn {
  text-decoration: none;
  padding-top: 20px;
}
#back-Btn a {
  color: white;
}

#favorites-Btn {
  padding-top: 20px;
}
#favorites-Btn a {
  color: white;
}

footer {
  color: white;
}